chromadb~=0.4.24
langchain
langchain-openai
langchain_experimental
sentence-transformers
pandas
lark
nltk
toml
ragas
fastembed
langfuse
rapidfuzz
arize-phoenix
arize-phoenix-evals
datasets
arize
python-dotenv~=1.0.1
tqdm~=4.66.2